$primary: #2d3b4e;
$secondary: #48d9a4;

$light: #f4f5f6;
$light-secondary: #f9f9fa;
$dark: rgba(45, 59, 78, 0.5);
// $dark: #535659;
// $dark: #a0a6ae3f;
$dark-secondary: rgba(45, 59, 78, 0.04);
$dark-third: rgba(45, 59, 78, 0.03);
$dark-strong: #2d3b4e;

$border-color: rgba(45, 59, 78, 0.08);

$white: #ffffff;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$arriving: #56a7fa;
$departing: #fe6685;
$incity: #736bff;
