// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #2d3b4e;
$secondary: #50d8a5;

$light: #f4f5f6;
$light-secondary: #f9f9fa;
$dark: #a0a6ae;
// $dark: #535659;
// $dark: #a0a6ae3f;
$dark-secondary: #ebebeb;
$dark-strong: #343a42;

$white: #ffffff;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$arriving: #56a7fa;
$departing: #fe6685;
$incity: #736bff;
